--extra-index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/ORT-Nightly/pypi/simple/
gradio==3.42.0 # Gradio 3.47 breaks the UI and versions between 3.42 and 3.47 haven't been tested
mdtex2html
pypinyin
tiktoken
socksio
tqdm
colorama
duckduckgo_search
Pygments
llama_index
langchain
markdown
markdown2
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/transformers.git
SentencePiece
onnxruntime-directml>=1.16.2