[submodule "7B_FT_DML_OPT_float16"]
	path = 7B_FT_DML_OPT_float16
	url = https://github.com/microsoft/Llama-2-Onnx-7-FT-DML_OPT-16
[submodule "7B_DML_OPT_float16"]
	path = 7B_DML_OPT_float16
	url = https://github.com/microsoft/Llama-2-Onnx-7-DML_OPT-16